.clear{
  clear: both;
}
* {
  box-sizing: border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}
.site{
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}
body{
  background-image: url("img/body.png");
  background-repeat: repeat-x;
  font-family: "Arial";
  color: black;
}
.header{
  margin-top: 80px;
}
.header .logo{
  float: left;
}
.header .rightbar{
  float: right;
  margin-top: 10px;
}
.header .rightbar .language-menu{
  margin-top: 15px;
  float: right;
}
.header .rightbar .language-menu li{
  float: left;
  margin-left: 5px;
}
.header .rightbar .language-menu li a{

}
.header .rightbar .language-menu li:first-child{
  margin-left: 0;
}
.header .rightbar .contact strong{
  font-weight: 700;
}
.header .rightbar .contact{
  background-image: url("img/tel.png");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 15px;
  font-size: 11px;
}
.header .navigasyon ul>li{
  border-left:1px solid gray;
  float: left;
  position: relative;
}
.header .navigasyon ul>li:first-child{
  border-left: 0;
}
.header .navigasyon ul>li>a{
  padding: 10px;
  display: inline-block;
  text-decoration: none;
  color:black;
}
.header .navigasyon ul>li>a:hover{
  background-color: orange;
  color: white;
}
.header .navigasyon{
  margin-top: 20px;
  border: 1px solid gray;
}
.header .navigasyon .submenu{
  display: none;
  background-color: red;
  color: white;
  width: 120px;
  position: absolute;
  top: 33px;
  left: 0;
}
.header .navigasyon li:hover .submenu{
  display: block;
}
.header .navigasyon .submenu  a{
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  color: #fff;
}
.content{
  margin-top: 20px;
}
.content .banner{
  border: 1px solid gray;
}
.content .banner img{
  display: block;
}
.content .content-text{
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
}
